<section class="row">
    <%= render ChessClubWeb.SharedView, "_game_chat.html", assigns %>


    <section class="column column-50">
        <div class="board" id="board"></div>
    </section>


    <section class="column column-10">
        <div id="game-pgn" style="text-align:justify;color:red;font-weight:bold">

        </div>
    </section>

</section>


<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/game.js") %>"></script>
<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/chess.js") %>"></script>


