<div class="row">
    <div class="column column-25 card" style="margin:0 auto; padding:0">

        <h1>Reset password</h1>

        <%= form_for @changeset, Routes.user_reset_password_path(@conn, :update, @token), fn f -> %>
          <%= if @changeset.action do %>
            <div class="alert alert-danger">
              <p>Oops, something went wrong! Please check the errors below.</p>
            </div>
          <% end %>

          <%= label f, :password, "New password" %>
          <%= password_input f, :password, required: true %>
          <%= error_tag f, :password %>

          <%= label f, :password_confirmation, "Confirm new password" %>
          <%= password_input f, :password_confirmation, required: true %>
          <%= error_tag f, :password_confirmation %>

          <div>
            <%= submit "Reset password" %>
          </div>
        <% end %>

        <p>
          <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
          <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
        </p>
    </div>
</div>