<div class="row">
  <div class="column column-25 card" style="margin:0 auto; padding:0">
    <h2>Forgot your password?</h2>

    <%= form_for :user, Routes.user_reset_password_path(@conn, :create), fn f -> %>
      <%= label f, :email %>
      <%= email_input f, :email, required: true %>

      <div>
        <%= submit "Send instructions to reset password" %>
      </div>
    <% end %>

    <p>
      <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
      <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
    </p>
  </div>
</div>