<div class="row">
    <div class="column column-25 card" style="margin:0 auto; padding:0">
        <h2>Edit Room</h2>

        <%= render "form.html", Map.put(assigns, :action, Routes.room_path(@conn, :update, @room)) %>

        <span><%= link "Back", to: Routes.room_path(@conn, :index) %></span>
    </div>
</div>