<h2>Listing Public Rooms</h2>
<span><%= link "Create Room", to: Routes.room_path(@conn, :new) %></span>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for room <- @rooms do %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.description %></td>

      <td>
        <span><%= link "Show", to: Routes.room_path(@conn, :show, room) %></span>
        <span><%= link "Edit", to: Routes.room_path(@conn, :edit, room) %></span>
        <span><%= link "Delete", to: Routes.room_path(@conn, :delete, room), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>