<section class="row">
  <%= render ChessClubWeb.SharedView, "_quick_commands_menu.html", assigns %>
</section>


<section class="row">
    <%= render ChessClubWeb.SharedView, "_online_users.html", assigns %>


  <section class="column column-40">
    <%= render ChessClubWeb.SharedView, "_room_feed.html", assigns %>
  </section>


  <section class="column column-20">
    <h4 style="margin-bottom:0;padding-bottom:0">Rooms
      <span style="float:right">
      <a style="text-align:right" href="<%= Routes.room_path(@conn, :new) %>" >create your room</a>
    </span>
    </h4>

    <div class="room-list">
      <%= for room <- @rooms do %>
      <a href="<%= Routes.room_path(@conn, :show, room) %>">
        <div class="room-link">
          <%= room.name %>
        </div>
      </a>

      <% end %>
    </div>

  </section>

</section>

<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/room.js") %>"></script>
