/* This file is for your main application css. */
@import "./phoenix.css";
// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
// @import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "./cm-chessboard.scss";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* cards */
.card {
  /* width: 150px;                  Set width of cards */
//   border: 1px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
}

.card-header {
  color: #D32F2F;
  text-align: center;
  border: 1px solid #EF9A9A;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  padding: 15px ;  /*         Add padding to the top/bottom */
}