<section class="row">
    <%= render ChessClubWeb.SharedView, "_quick_commands_menu.html", assigns %>
</section>


<section class="row">
  <%= render "online_users.html", conn: @conn %>


  <section class="column column-40">
    <%= render "news_feed.html", conn: @conn %>
  </section>


  <section class="column column-25">
    <%= render "global_notifications.html", conn: @conn %>
  </section>

  <section class="column column-20">
    <h4 style="margin-bottom:0;padding-bottom:0">Rooms
    <span style="float:right">
      <a style="text-align:right" href="<%= Routes.room_path(@conn, :new) %>" >create your room</a>
    </span>
    </h4>

    <div class="room-list">
      <%= for room <- @rooms do %>
      <a href="<%= Routes.room_path(@conn, :show, room) %>">
        <div class="room-link">
          <%= room.name %>
        </div>
      </a>

      <% end %>
    </div>


  </section>

</section>

<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/console.js") %>"></script>
<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/global_notifications.js") %>"></script>




