<section class="column column-20">
    <h4> <i style="color:green" class="fa fa-signal"></i> Now Playing: <span id="online-members-count" style="font-weight:bold">----</span></h4>
    <div style="width: 200px; height: 400px; overflow-y: auto; width:100%">
        <ul id="members-list" style="list-style-type:none;">

        </ul>
    </div>

</section>