<div class="quick-commands" style="margin-bottom: 75px">
    <strong>Quick Commands:</strong>
    <button id="1min">1-minute</button>
    <button id="3min">3-minute</button>
    <button id="5min" >5-minute</button>
    <button id="10min">10-minute</button>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>body</p>
    </div>

</div>