<header>
    <section class="container">
        <nav role="navigation">
            <ul>
                <%= if @current_user do %>
                <li><%= @current_user.email %></li>
                <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
                <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
                <% else %>
                <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
                <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
                <% end %>
            </ul>
        </nav>
        <a href="<%= Routes.home_path(@conn, :index) %>" class="phx-logo">
            <img src="<%= Routes.static_path(@conn, "/images/logo.png") %>" alt="Chess Club Logo"/>
        </a>
    </section>
</header>