<div class="row">
<div class="column column-25 card" style="margin:0 auto; padding:0">


<h2>Create Account</h2>
<p class="tip-blue">It's free and will always be</p>



<%= form_for @changeset, Routes.user_registration_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :username %>
  <%= text_input f, :username, placeholder: "Username. You cannot change it afterwards.", required: true %>
  <%= error_tag f, :username %>

  <%= label f, :firstname %>
  <%= text_input f, :firstname, required: true %>
  <%= error_tag f, :firstname %>

  <%= label f, :lastname %>
  <%= text_input f, :lastname, required: true %>
  <%= error_tag f, :lastname %>

  <%= label f, :email %>
  <%= email_input f, :email, required: true %>
  <%= error_tag f, :email %>

  <%= label f, :password %>
  <%= password_input f, :password, required: true %>
  <%= error_tag f, :password %>

  <div>
    <%= submit "Register" %>
  </div>
<% end %>

<p>
  <%= link "Log in", to: Routes.user_session_path(@conn, :new) %> |
  <%= link "Forgot your password?", to: Routes.user_reset_password_path(@conn, :new) %>
</p>

</div>
</div>